@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

/*RESET-- siempre en este orden-- (*) este selector, es para todos los elementos*/

*{margin: 0; padding: 0;}


body{font-family:"Comic Relief", system-ui;} /* significa q todo mi body va a tener la misma fuente, pero igual ¡cuidado!*/

/* header*/

.nav-item a{
    font-size: 20px;
    color: white;
}

.nav-item:hover{
    background-color: white;
    color: rgb(2, 11, 63);

}

header{background-color: rgb(2, 11, 63);
    position: relative;
    top: 0;
    height: 100%;
    width: 100%; 
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

/*-- diplay flex-- (prop de flexbox) se aplica siempre al padre-- seguida de justify content que siempre se aplica en
conjunto con aling item*/


header nav ul li {
    margin: 30px;
}

/*la especificidad es mejor*/


/* main */
/*vw; esta medida hace que la img me ocupe el ancho total de la pantalla*/

.prin{
    background-image: url(../img/Recetas_de_galletas.jpeg);
    height: 450px;
    margin: 5px;
    background-size: cover;
    background-position:center; 
    color:  rgb(2, 11, 63);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.prin h1{
    font-size: 60px;
    color: rgb(2, 11, 63);
    font-weight: bolder;
    padding: 20px;

}

.prin h2{
    text-align: center; 
    font-size: 50px;
    font-weight: bolder;
    color: rgb(2, 11, 63);
    padding: 20px;
}
    
.whatsapp{
background-image: url(../img/whatsapp.png);
width: 60px;
height: 60px;
background-size: 60px;
position: fixed;
bottom: 10px;
right: 15px;
}
/*pages contacto*/

.formulario{
    background-color: rgba(3, 47, 34, 0.663);
    font-size: 20px;
    color: rgb(2, 11, 63);
    padding: 10px;
    margin: 5px;
}

.btn{
    background-color: rgb(2, 11, 63);
}

.boton :hover{
    background-color: white;
    color: rgb(2, 11, 63);
}


/* main-- pages nosotros*/

.principal-grid{    
display: grid;
grid-template-columns: 1fr 2fr 1fr;
grid-template-rows: 200px 250px 200px;
gap:5px;
grid-auto-rows: 200px;
margin: 5px;
}

.principal-grid div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.principal-grid div h2 {
    text-align:center;
    font-size: 50px;
    color: rgb(2, 11, 63);
}

.principal-grid div p{
    text-align: center;
    font-size: 20px;
    color: rgb(2, 11, 63);
}

.principal-grid div h3{
    text-align: center;
    font-size: 30px;
    color: rgb(2, 11, 63);
}

.cuadro2{
grid-row: span 2;


}

.cuadro6{
    grid-row: span 2;
}

.cuadro8{
    grid-column: span 2;
}

.grid-item{
    position: relative;
    background-color:rgba(3, 47, 34, 0.663);}




/* main-- pages productos*/

.prod1 h2{
    text-align: center ;
    background-color: rgba(3, 47, 34, 0.663);
    font-family:"Comic Relief", system-ui;
    font-size: 50px;
    color: rgb(2, 11, 63);
    padding: 20px;
    margin: 5px;

}
.prod2 div img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    
}

.prod2 div {
    width: 250px;
    height: 350px;
    border: 2px solid rgb(2, 11, 63);
    text-align: center;
    margin: 5px;
    background-color: rgba(3, 47, 34, 0.663);
}

.prod2 div h3{
    font-size: 15px;
    color:rgb(2, 11, 63);
    font-weight: bolder;
}

.prod2 div p{
    font-size: 15px;
    color: rgb(2, 11, 63);
    font-weight:bold;
}

.prod2 div a button{
    padding: 5px;
    background-color: rgb(2, 11, 63);
    color: white;    
}

.prod2 div a button:hover{
    background-color: white;
    color: rgb(2, 11, 63);
    
}

.padre-cajas .prod2{
    background-color: white;
    margin:5px;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
    
}
/* pages promos*/

.promocion{
    padding: 5px;
}

.carousel-inner img {
    width: 300px;
    height: 500px;
    object-fit:cover;
}

.carousel-item div h4 {
    color: rgb(2, 11, 63);
    font-size: 30px;
    font-weight: bolder;
}

.carousel-item div p{
    color: rgb(2, 11, 63);
    font-size: 20px;
    font-weight: bolder;
}

/* footer*/


footer {
    background-color: rgb(2, 11, 63);
    display: flex;
    flex-direction: column;
    
}

.info-cajas{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-cajas div {
    color: white;
    padding: 10px;
    margin: 5px;
    
}

footer a img {
width: 20px; 
height: 20px;

}

/* MEDIA QUERIES*/

@media screen and (max-widht: 560px) {
    header{  flex-direction: column;
    }    
}