footer {
    background-color:#8C7870;
    color: white;
    display: flex;
    flex-direction: column;
    margin:3px;
}

.parte1footer h3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    font-size: 25px;
}

.parte1footer h3::before,
.parte1footer h3::after{
flex: 1;
margin: 0 10px;
content: ' ';
border-bottom: 1px solid white ;
}

.cajaparte1footer{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 45px;
}

.linea1{
border-top: 1px solid white;
width: 100%;
margin: 30px 0 0 0;
}

a img {
transition: transform 0.3s ease, filter 0.3s ease;
}

a:hover img {
transform: scale(1.2)}

.parte2footer h3{
font-size: 25px;
padding: 10px;
}

.parte2footer h4{
    font-size: 20px;
}

.parte2footer{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.img-container{
display: flex;
align-items: center;
gap:10px;
}

.img-container2{
display: flex;
align-items: center;
gap:10px
}

.linea2{  
border-top: 1px solid white;
width: 100%;
margin: 30px 0 0 0;
}

.parte3footer h3{
text-align: center;
padding: 10px;
font-size: 25px;
}

.parte3footer h4{
    font-size: 20px;
}

.cajaparte3footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.cajaparte3footer a{
    text-decoration: none;
    color: white;
}

.cajaparte3footer a:hover{
    color: #8C0303;

}


.mapa{
    width: 350px;
    height: 150px;
    padding: 10px;
    
}

footer a img {
width: 50px; 
height: 45px;

}
